---
layout: layouts/post.njk
title: Contact
templateClass: tmpl-post
eleventyNavigation:
  key: Contact
  order: 4
---

<form name="contact" method="POST" data-netlify="true">
        <label>First name: <br>
        <input type="text" id="first name" name="first name" /></label><br>
        <label>Surname: <br>
        <input type="text" id="surname" name="surname" /></label><br>
        <label>Email: <br><input type="email" id="email" name="email" /></label><br>
        <label>Message: <br><textarea name="message"></textarea></label><br>
        <button class="form_submit" type="submit">Send</button>
  </form>
