<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav nav-pills">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a class="nav-link active" aria-current="page" href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>

    <form name="contact" method="POST" data-netlify="true">
      <p>
          <label>Your Name: <input type="text" id="name" name="name" /></label>   
      </p>
      <p>
          <label>Your Email: <input type="email" id="email" name="email" /></label>
      </p>
      <p>
          <label>Your Role: <select name="role[]" multiple>
          <option value="leader">Leader</option>
          <option value="follower">Follower</option>
          </select></label>
      </p>
      <p>
          <label>Message: <textarea name="message"></textarea></label>
      </p>
      <p>
          <button class="form_submit" type="submit">Send</button>
      </p>
    </form>

    <footer class="py-3 my-3 px-2 mx-3">
      <div class="border-top">Blog built using 11ty, Netlify & Bootstrap</div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

    //get default border colours (to use on input when validation passes)
    var borderStylePass = document.querySelector('#name').style.border;
        //set fail border colours (to use on input when validation fails)
        var borderStyleFail = '1px solid red';
        //get the form submit button
        var submit_button = document.querySelector('.form_submit');
        //attach form event listener
        submit_button.addEventListener("click", function(event){
            //get the form "name" elemement
            var name = document.querySelector('#name');
            //get the form "email" element
            var email = document.querySelector('#email');
            //all validation is assumed to be passed until tested
            blnValidated = true;
            //change the border as it the validation passed
            name.style.border = borderStylePass;
            //if validation fails change the bln to false and change the input border colour
            if(!name.value){
                blnValidated = false;
                name.style.border = borderStyleFail;
            }
            //if validation fails change the bln to false and change the input border colour
            email.style.border = borderStylePass;
            if(!email.value){
                blnValidated = false;
                email.style.border = borderStyleFail;
            }
            //if validation failed do not allow the form to submit the data
            if(!blnValidated){
                event.preventDefault();
            }
        }, false);

    </script>